body {
    font-size: 1em;
    line-height: 1.5;
    font-weight: 1000;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    background-color: white;
    
}

div {
  width: 200px;
  margin: 260px auto;
 
}





input {
  width: 40px;
  
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 30px;    
  
} 

p,
dt {
    font-weight: bolder;
}

dl,
dd {
    font-size: 1rem;
    
  }

dd {
    margin-bottom: 1em;
}
