body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

dl {
  margin: 40px auto;
  width: 300px;
}

p,
dt {
    font-weight: bold;
}

dl,
dd {
    font-size: 1rem;
}

dd {
    margin-bottom: 1em;
}
